body, html{
	margin: 0;
	padding: 0;
}

video{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}

.text{
	text-align: center;
	line-height: 100px;
	font-size:100px;
	color:rgba(100%,100%,100%,0.5);
	z-index: 2;
	position: absolute;
	background: rgba(0,0,0,0.1);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
p.place{
  text-align:center;
  word-spacing: 100px;
}
a:link {
  color: #f06292; font-size: 30px; font-weight: normal; line-height: 48px; margin: auto; 
　//設定還沒瀏覽過的連結樣式
}
a:visited {
  color:#bdbdbd ; font-size: 30px; font-weight: normal; line-height: 48px; margin: auto; 
　//設定已經瀏覽過的連結樣式
}
a:hover {
  color:#f06292 ;  font-size: 30px; font-weight: normal; line-height: 48px; margin: auto; 
　//設定滑鼠移到連結上的樣式
}
a:active {
  color:#bdbdbd ; font-weight: normal; line-height: 48px; margin: auto; 
　//設定正在被點選的連結樣式
}